:root {
  --mainColor: #15171c;
  --black: #1c1b24;
  --lightGrey: #d0d1d2;
  --grey: #636468;
  --grad: linear-gradient(124.97deg, #eb00ff 19.11%, #00bac6 100.21%);
  --white: #fff;
  --fontSmall: 1.3rem;
  --fontMed: 1.75rem;
  --fontBig: 3.25rem;
  --fontSuperBig: 4.5rem;
}

/* ==== General ==== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--white);
  line-height: 34px;
  background: #0f1114;
}

/* ==== Button Start==== */
button {
  border: none;
}
.main-btn {
  background: var(--grad);
  border-radius: 8px;
  padding: 1px;
  color: var(--white);
  font-size: var(--fontMed);
  font-weight: 600;
}
.main-btn p {
  background: var(--mainColor);
  margin: 0;
  padding: 0.2em 1em;
  border-radius: 8px;
}

.grey-btn {
  border: 1px solid var(--lightGrey);
  color: var(--lightGrey);
  border-radius: 8px;
  padding: 8px 40px;
  font-size: var(--fontSmall);
  font-weight: 400;
}

/* ==== Button End==== */

/* ==== Typography Start==== */

h2 {
  font-size: var(--fontSuperBig);
  font-weight: 900;
}
h3 {
  font-size: var(--fontBig);
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  h3 {
    font-size: var(--fontMed);
    font-weight: 500;
  }
}
h4 {
  font-size: var(--fontMed);
  font-weight: 500;
}
p {
  font-size: var(--fontSmall);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

small {
  color: var(--grey);
}
/* ==== Typography End==== */
